body {
  background: #fafafa;
  font-family: myriad-pro, Avenir Next, Avenir, -apple-system, system-ui,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
}

h2 {
  font-size: 32px;
  margin-bottom: -7px;
}

.clw-wrapper h2:first-of-type {
  margin-top: 7px;
}

.clw-main {
  overflow: auto;
}

.clw-main p {
  line-height: 1.7;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

.clw-main h2 {
  margin-bottom: 30px;
}

.clw-aside {
  overflow: auto;
}

p {
  font-size: 18px;
  line-height: 1.2;
}

.clw-wrapper {
  height: 100vh;
  display: grid;
  grid-gap: 14px;
  grid-template-areas: 'aside main';
  grid-template-columns: 240px 1fr;
}

.clw-main {
  max-width: 850px;
}

.clw-panel {
}

.clw-aside {
  grid-area: aside;
  padding-top: 7px;
  background: #f0f0f0;
}

.clw-main {
  grid-area: main;
  padding: 7px;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
}

.clw-main pre {
  font-family: 'SF Mono', 'Monaco', 'Menlo', 'Courier New', 'Courier',
    'monospace';
}

.clw-panel li {
  list-style: none;
  line-height: 32px;
}

.clw-panel ul {
  margin: 0;
  padding: 0;
}

.clw-panel svg {
  vertical-align: center;
  position: relative;
  top: 3px;
}

ul.clw-file-root > li.clw-file {
  padding-left: 12px;
}
ul.clw-file-root > li > span.clw-folder {
  padding-left: 12px;
}

ul.clw-file-root > li > ul > li.clw-file {
  padding-left: 24px;
}
ul.clw-file-root > li > ul > li > span.clw-folder {
  padding-left: 24px;
}

ul.clw-file-root > li > ul > li > ul > li.clw-file {
  padding-left: 36px;
}
ul.clw-file-root > li > ul > li > ul > li > span.clw-folder {
  padding-left: 36px;
}

li.clw-file {
  cursor: default;
  transition: all 0.25s ease-out;
  border-right: 6px #f0f0f0 solid;
}

li.clw-file--current {
  background: #ffffff;
  pointer-events: none;
}

span.clw-folder {
  cursor: default;
  display: block;
  pointer-events: none;
}

li.clw-file:hover {
  background: #ffffff;
  border-right: 6px #000000 solid;
}

li.clw-file.clw-current {
  background: #ffffff;
  border-right: 6px #ff8c00 solid;
}
