//
//  ______________                            ______ __________
//  __  ____/__  /__________ __________      ____  /____(_)_  /_____
//  _  /    __  /_  _ \  __ `/_  ___/_ | /| / /_  __ \_  /_  __/  _ \
//  / /___  _  / /  __/ /_/ /_  /   __ |/ |/ /_  / / /  / / /_ /  __/
//  \____/  /_/  \___/\__,_/ /_/    ____/|__/ /_/ /_//_/  \__/ \___/
//                                         Lesson notes, clarified.
//  A “Zero to Hero” Project
//    https://clearwhite.zerotohero.dev/
//  MIT License
//    https://github.com/zerotohero-dev/clearwhite/blob/master/LICENSE.md
//

.clw-wrapper {
  display: grid;
  grid-gap: 0;
  grid-template-areas: 'aside main';
  grid-template-columns: 442px 1fr;
}
.clw-aside {
  grid-area: aside;
  padding-top: 7px;
  overflow: auto;
}
.clw-main {
  grid-area: main;
  padding: 7px 14px 7px 14px;
  overflow: auto;
}
.clw-fh {
  padding: 7px 7px 0 7px;
  margin: 0;
}

@media only screen and (max-width: 1190px) {
  .clw-wrapper {display: block;}
}
