/*
 *  Clearwhite: Lesson notes, clarified.
 *
 *  Clearwhite is a “Zero to Hero” project:
 *  https://clearwhite.zerotohero.dev/
 *
 *  MIT Licensed—see LICENSE.md
 */

.clw-paper {
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.15),
      0 -10px 0 -5px #eee, 0 -10px 1px -4px rgba(0, 0, 0, 0.15),
      0 -20px 0 -10px #eee, 0 -20px 1px -9px rgba(0, 0, 0, 0.15),
      0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee,
      0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee,
      0 20px 1px -9px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.25),
      inset 0px 0px 1px rgba(0, 0, 0, 0.25);
}
