//
//  ______________                            ______ __________
//  __  ____/__  /__________ __________      ____  /____(_)_  /_____
//  _  /    __  /_  _ \  __ `/_  ___/_ | /| / /_  __ \_  /_  __/  _ \
//  / /___  _  / /  __/ /_/ /_  /   __ |/ |/ /_  / / /  / / /_ /  __/
//  \____/  /_/  \___/\__,_/ /_/    ____/|__/ /_/ /_//_/  \__/ \___/
//                                         Lesson notes, clarified.
//  A “Zero to Hero” Project
//    https://clearwhite.zerotohero.dev/
//  MIT License
//    https://github.com/zerotohero-dev/clearwhite/blob/master/LICENSE.md
//

.hljs {display: block; overflow-x: auto; padding: 0.5em;
	background: white; color: black;}
.hljs-comment,
.hljs-quote,
.hljs-variable {color: #008000;}
.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {color: #00f;}
.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {color: #a31515;}
.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {color: #2b91af;}
.hljs-doctag {color: #808080;}
.hljs-attr {color: #f00;}
.hljs-symbol,
.hljs-bullet,
.hljs-link {color: #00b0e8;}
.hljs-emphasis {font-style: italic;}
.hljs-strong {font-weight: bold;}
